twig:
    file_name_pattern: '*.twig'
    default_path: '%kernel.project_dir%/templates'
    # Ajoute cette ligne pour activer Bootstrap 5 sur tous les formulaires
    form_themes: ['bootstrap_5_layout.html.twig']

when@test:
    twig:
        strict_variables: true