{# templates/components/buttons/_notary_choice_price.html.twig #}
<a href="{{ path('app_notary_pricing') }}" class="btn btn-warning btn-sm px-4 rounded-pill fw-bold shadow-sm py-2 animate__animated animate__pulse animate__infinite"> <i class="fas fa-shopping-cart me-2"></i>Choisir un forfait</a>
