<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Mon Site Symfony{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        
        {% block stylesheets %}
            {# Bootstrap est généralement importé via CSS dans assets/styles/app.css #}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        
        {# Inclusion de la barre de navigation #}
        {% include 'components/_navigation.html.twig' %}

        <main class="flex-shrink-0 py-4">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>

        {# Inclusion du footer #}
        {% include 'components/_footer.html.twig' %}

    </body>
</html>