{# templates/tree/new_person.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Personne{% endblock %}

{% block body %}
    <div class="container my-5">
        
        <div class="p-4 p-md-5 bg-white rounded shadow-lg">
            
            {% include 'tree/_form.html.twig' with {
                form: form,
                title: 'Ajouter un Membre à l\'Arbre Généalogique',
                icon: 'fas fa-user-plus',
                submit_button_text: 'Enregistrer la Personne',
                submit_button_class: 'btn-success'
            } %}
        
        </div>
    </div>
{% endblock %}