<span class="badge {{ person.deceased ? 'bg-secondary-subtle text-secondary' : 'bg-success-subtle text-success' }} rounded-pill px-3 py-2 fw-bold shadow-sm" style="font-size: 0.85rem;">
	<i class="fas {{ person.statusIcon }} me-2"></i>
	{{ person.age }}
	ans
</span>
