<div class="avatar-circle me-4 shadow-sm d-none d-md-flex align-items-center justify-content-center bg-{{ person.deceased ? 'secondary' : 'primary' }}-subtle text-{{ person.deceased ? 'secondary' : 'primary' }} fw-bold" style="width: 64px; height: 64px; border-radius: 18px; font-size: 1.5rem; border: 2px solid white;">
	{{ person.firstname|first|upper }}
</div>
